
.container.contact_container {
    width:58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: rgb(49, 112, 222);
    padding: 1.2rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 0.5rem;
    

}

.contact_option:hover {
    background: rgb(28, 196, 129);
}

.contact_option-icon {
    font-size: 40px;
    margin-bottom: 0.5rem;
    color: white;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 15px;
    color:white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    /* background: transparent; */
    border: 2px solid;
    resize: none;

    }

