*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  /* color: #f5f5f5; */
  }

  
  .title {
    font-size: 20px;
    text-align: center;
  }

  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
  }

  .container {
    width: 75%;
    margin: 0 auto;
  }

  h1,h2,h3,h4,h5 {
    font-weight: 500;
  }

  h1 {
    font-size: 2.5rem;
  }

  section {
    margin-top: 8rem;
  }

  section > h2,
  section > h5 {
    text-align:center;
  }

  section > h2 {
    
    margin-bottom: 3rem;
  }

  .btn {
    width: max-content;
    display: inline-block;
    color: blue;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid green;
  }

  
  /* .nav {
    
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: right;
  } */
  
  .navTop {
    
    /* padding: 10px; */
    text-decoration: none;
    /* font-size: 20px; */
    /* font-weight: bold; */
  }
  .contact {
    
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
  }
  
  .contactEl {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
  
  }

  .video {
    /* top:0;
    bottom:0;
    left:0;
    width: 100%; */
    position: absolute;
    width:100%;
    left: 50%;
    top:50%;
    height:100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
   

  }

  .bg-black {
    opacity: 60%;
  }